<!-- Vista en caso de que la fruta Si se haya adivinado ... puede reemplazarse por la index.html -->
{% extends 'main.html' %}

{% block body %}

<body>
    <div class="container text-center">
        <h1 class="app-title my-4">Gracias por jugar AkiFruit!</h1>

        <!-- <img class="final-img" width="200px" height="200px">  Posible agregar una imagen de despedida -->
        <div><a class="btn btn-info btn-lg border rounded-pill mt-5" href="{{ url_for('game') }}">Jugar de nuevo!</a></div>
    </div>
</body>
{% endblock %}