<!-- Vista en caso de que la fruta no se haya adivinado -->

{% extends 'main.html' %}

{% block body %}

<body>
    <div class="container mt-5 pt-5" style="text-align: center;">
        <label class="text-center" for="new-fruit">En que fruta pensabas?</label>
        <div class="container col-md-6">
            <input type="text" class="form-control mb-4" name="new-fruit" placeholder="Fruta">
            <label for="new-fruit-characteristic">Que <strong>caracteristica </strong>tiene esa fruta que <strong>no
                </strong>tenga _ ?</label>
            <input type="text" class="form-control" name="new-fruit-characteristic" placeholder="Caracteristica">
            <button class="btn btn-primary btn-lg border rounded-pill mt-5" type="submit">Guardar</button>
        </div>
    </div>
</body>

{% endblock %}