<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>AkiFruit</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" style="background: #6a4c93;">
        <div class="container-fluid"><a class="navbar-brand" href="#" style="color: rgba(255,255,255,0.9);"><strong>AkiFruit</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto" style="color: rgb(255,255,255);">
                    <li class="nav-item"><a class="nav-link active" href="#" style="color: rgba(255,255,255,0.9);">Acerca de</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5 pt-5" style="text-align: center;">
        <h5>Pregunta #n</h5>
        <h2 class="mb-5"><strong>Pregunta X</strong></h2>
        <div class="btn-group-vertical mt-3" role="group"><button class="btn btn-success my-btn" id="si" type="button">Si</button><button class="btn btn-danger my-btn" id="no" type="button">No</button><button class="btn btn-primary bg-secondary my-btn" id="nose" type="button">No se</button></div><a class="text-center mt-5" href="#">Volver a jugar</a>
    </div>
    <footer class="footer-basic">
        <p class="copyright">TecNM Campus Colima © 2021</p>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>