<!-- Vista principal e inicial -->
{% extends 'main.html' %}

{% block body %}

<div class="container mt-5 pt-5" style="text-align: center;">
    <h5>Pregunta #n</h5>
    <h2 class="mb-5"><strong>Pregunta X</strong></h2>
    <div class="btn-group-vertical mt-3" role="group">
        <button class="btn btn-success my-btn" id="yes" type="button">Si</button>
        <button class="btn btn-danger my-btn" id="no" type="button">No</button>
        <button class="btn btn-primary bg-secondary my-btn" id="nose" type="button">No se</button>

    </div>
    <a class="text-center mt-5" href="#">Volver a jugar</a>
</div>
</body>

{% endblock %}